.policy-wrapper {
  margin: auto;
  margin-top: 80px;
  width: 100%;
  max-width: 1100px;
  overflow: auto;
}

table {
  margin-bottom: 16px !important;
}

td {
  vertical-align: middle !important;
}

.table-header-border {
  border-top: 1pt solid rgba(110,98,94,.2);
}

.date-custom {
  font-size: 12px;
}

.policy-icon {
  background-size: 3rem 3rem !important;
  height: 3rem !important;
  width: 3rem !important;
}

.policy-button {
  min-width: 120px !important;
  width: 120px !important;
  height: 40px !important;
  margin: 0 !important;
}
.policy-button-append {
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
  margin-left: 1px !important;
  text-align: center;
}

.policy-button-append .icon {
  margin: 0 !important;
}
