*:focus, *:focus-within {
  outline: none !important;
}

button {
  border: none !important;
}

.if.desktop-menu-action {
  overflow: visible !important;
}

.spacer {
  flex-grow: 1;
}

.main {
  background-color: #f6f3f0;
}


@media only screen and (min-width: 960px) {
  .primary-custom, .secondary-custom {
    background-color: #f6f3f0 !important;
  }
  .primary-custom {
    height: 2.5rem !important;
  }
  .primary-custom .button {
    height: 2.5rem !important;
    position: absolute;
    right: 0
  }
}

.secondary-custom div.container {
  background-color: #faf9f7 !important;
  padding: 0 12rem 0 6rem;
  margin: auto !important;
  min-width: 80% !important;
}

.icon-custom {
  background-size: 4rem 4rem !important;
  height: 4rem !important;
  width: 4rem !important;
}

.badge-custom {
  color: #faf9f7;
  background-color:#cf1c1c;
  border-radius: 16px;
  border: 1px solid #cf1c1c;
  height: 14px;
  width: 14px;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
  position: relative;
  left: 2px;
  bottom: 2px;
}


